@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

$red: hsl(0, 78%, 62%);
$cyan: hsl(180, 62%, 55%);
$orange: hsl(34, 97%, 64%);
$blue: hsl(212, 86%, 64%);
$veryDarkBlue: hsl(234, 12%, 34%);
$grayishBlue: hsl(229, 6%, 66%);
$veryLightGray: hsl(0, 0%, 98%);

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $veryLightGray;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.container {
    max-width: 1440px;
    width: 95%;
    margin: 60px auto 0 auto;
}

.top-section {
    text-align: center;

    h1 {
        font-weight: 200;
        color: $veryDarkBlue;
        line-height: 1.2;
        font-size: 2em;
    }

    h2 {
        font-weight: 600;
        color: $veryDarkBlue;
        margin-bottom: 8px;
        font-size: 2em;
    }

    p {
        color: $grayishBlue;
        width: 40%;
        line-height: 1.7;
        text-align: center;
        margin: 0 auto;
        font-size: 1em;
    }
}

.card-section {
    display: flex;
    gap: 35px;
    align-items: center;
    padding: 60px 120px;
    flex-wrap: wrap;

    .card-section__group {
        flex: 1 1 200px;
        display: flex;
        flex-direction: column;
        gap: 35px;
    }

    .card {
        flex: 1 1 200px;
        padding: 25px 30px;
        background-color: white;
        border-radius: 5px;
        border-top: 5px solid;
        position: relative;
        min-height: 250px;
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        box-shadow: 0 14px 28px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.02);

        &:hover {
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.12);
        }

        &.supervisor {
            border-top-color: $cyan;
        }
        &.team-builder {
            border-top-color: $red;
        }
        &.karma {
            border-top-color: $orange;
        }
        &.calculator {
            border-top-color: $blue;
        }

        h4 {
            font-weight: 600;
            margin-bottom: 10px;
            font-size: 1.2em;
            color: $veryDarkBlue
        }

        p {
            color: $grayishBlue;
            font-size: .9em;
            line-height: 1.8;
        }
        
        img {
            width: 60px;
            height: 60px;
            position: absolute;
            bottom: 30px;
            right: 30px;
        }
    }
}

.attribution { 
    font-size: 11px;
    text-align: center; 

    a {
        color: hsl(228, 45%, 44%); 
    }
}

@media (max-width: 1024px) {
    .top-section p {
        width: 60%;
    }
    
    .card-section {
        padding: 60px 80px;
    }
}

@media (max-width: 870px) {
    .top-section p {
        width: 80%;
    }

    .card-section {
        padding: 60px 40px;
    }
}

@media (max-width: 785px) {
    .top-section p {
        width: 70%;
    }

    .card-section {
        padding: 60px 20px;
        gap: 15px;
    }
}

@media (max-width: 722px) {
    .top-section p {
        width: 80%;
    }

    .card-section {
        padding: 60px 10px;

        .card {
            padding: 25px;

            h4 {
                font-size: 1.1em;
            }

            p {
                font-size: .88em;
            }
        }
    }   
}

@media (max-width: 690px) {
    .top-section p {
        width: 90%;
    }

    .card-section {
        align-items: flex-start;
        
        .card-section__group {
            display: inline-flex;
            align-items: flex-start;
            flex-direction: row;
            order: 3;
        }
        
        .card {
            flex-basis: 220px;
            
            &.supervisor {
                order: 1;
            }

            &.calculator {
                order: 2;
            }
        }
    }
}

@media (max-width: 498px) {
    .top-section {
        h1, h2 {
            font-size: 1.8em;
        }
    }
    
    .card-section {
        flex-direction: column;
        flex: 1 1 400px;
        gap: 25px;
        padding: 60px 20px;
        
        .card-section__group {
            order: 2;
            flex-direction: column;
        }
        
        .card {
            width: 100%;

            &.supervisor {
                order: 1;
            }

            &.calculator {
                order: 3;
            }

            h4 {
                font-size: 1.2em;
            }

            p {
                font-size: .95em;
            }
        }
    }
}